
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Amiri Quran', serif;
font-family: 'Roboto', sans-serif;
}

.text-menu{
  color: #7e8cda;
}
@layer components {
  .title-component{
    @apply text-[20px] mb-3;
  }
  .default-button{
    @apply focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2;
  }
    .active-menu {
      @apply bg-white rounded-lg text-[#7e8cda];
    }
    .tea-card{
      @apply p-6 bg-white  rounded-lg  dark:bg-gray-800 dark:border-gray-700 shadow-my;
    }
  }