
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Amiri Quran', serif;
font-family: 'Roboto', sans-serif;
}

.text-menu{
  color: #7e8cda;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  border-radius: 25px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}

@layer components {
  .title-component{
    @apply text-[20px] mb-3;
  }
  .default-button{
    @apply  font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 mt-1;
  }
    .active-menu {
      @apply bg-white rounded-lg text-[#7e8cda];
    }
    .tea-card{
      @apply p-6 bg-white  rounded-lg  dark:bg-gray-800 dark:border-gray-700 shadow-my;
    }
    .input{
      @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ;
    }
    .label-input{
      @apply block mb-2 text-sm font-medium text-gray-900 ;
    }
    .col-table{
      @apply px-6 py-3;
    }
  }